################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Myappsettings.json
*.vsidx
*vs/
bin/
obj/
*.dll
*.cache
*.json