@model string  // sadece görünüm tipini alacak (grid, list, compact)

<div class="btn-group mb-3">
    <a asp-action="Index" asp-route-viewMode="grid"
       class="btn btn-sm @(Model == "grid" ? "btn-primary" : "btn-outline-primary")"> <i class="bi bi-grid"></i> Grid</a>

    <a asp-action="Index" asp-route-viewMode="list"
       class="btn btn-sm @(Model == "list" ? "btn-primary" : "btn-outline-primary")"><i class="bi bi-list-ol"></i> Liste</a>
  
</div>
