@model NoteAppMVCPattern.Models.Note
{
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">

            <div class="d-flex flex-wrap gap-2">
            @foreach (var tag in Model.Tags)
            {
                <span class="badge @tag.TagColor">@tag.TagName</span>
            }
            </div>
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @Model.Content
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
}