@model NoteApp.Core.Entities.Note;
@{
    ViewData["Title"] = "New note";
    Layout = "_GeneralCRUDLayout";
}

<h2 >Create a new Note</h2>

@if (TempData["Message"] != null)
{
    <div id="successMsg" class="alert alert-success mt-3">
        @TempData["Message"]
    </div>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('#successMsg').fadeOut(500, function () {
                    window.location.href = '/User/Index';
                });
            }, 2000);
        });
    </script>
}
@{
<form asp-action="Create" method="post">

    <div class="mb-3 fw-bold">
        <label asp-for="Title"></label>
        <input asp-for="Title"
               class="form-control w-25 "
               style="height: 2.5rem;" />
        <span asp-validation-for="Title" class="text-warning " ></span>
    </div>

        <input type="hidden" name="notebookId" value="@Model.NotebookId" />

    <div class="mb-3">
        <div class="mb-3 mb-2 fw-bold">
        <label asp-for="Content"></label>
                @{
                    var placeholderText = Model.User.Notes.Count < 1 ? "# ile başlayan kelimeler notunuza tag olarak eklenecektir." : "";
                }
                <textarea asp-for="Content"
                          class="form-control w-50"
                          rows="4"
                          style="resize: vertical;"
                          placeholder="@placeholderText">
        </textarea>
        <span asp-validation-for="Content" class="text-warning"></span>
    </div>
            
    <button type="submit"
            class="btn btn-success d-inline-flex align-items-center pe-lg-2">
        <i class="bi bi-check-all"></i>
            <span class="pe-1">Save</span>        
    </button>
     @{
               var notebookId = Context.Session.GetInt32("NotebookId")?.ToString() ?? "";
    <a asp-controller="Note" asp-action="Index" asp-route-notebookId="@notebookId" class="btn btn-danger">
    Go back</a>
     }
    </div>
</form>
}

@section Scripts {
    <!-- FluentValidation veya jQuery validation desteği -->
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
