@model NoteAppMVCPattern.Models.Note
@{
    ViewData["Title"] = "Notu Düzenle";
}
<h2>Notu Düzenle</h2>
<form asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control w-100 h-70" rows="6" style="resize: vertical;"></textarea>
    </div>
    
    <button type="submit" class="btn btn-primary">Güncelle</button>
    <a asp-controller="Note" asp-action="Index" @* asp-route-notebookId="@Model.NotebookId" *@ class="btn btn-danger">Geri dön</a>
</form>

