@using NoteAppMVCPattern.Models.ViewModel
@model LoginViewModel

<h2>Giriş Yap</h2>

<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control w-25" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control w-25"/>
        <span asp-validation-for="Password" class="text-danger"></span>        
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
    <a asp-controller="User" asp-action="Index" class="btn btn-danger">Geri dön</a> 
</form>


@section Scripts {
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        Layout = "_Layout";
  }

}

@section Styles {
    <style>
        body {
            background-image: url('/bg-images/lamp.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }
    </style>
}