@{
    Layout = "_LayoutTemplate";
}
@using NoteApp.WebUI.Models.ViewModel
@model LoginViewModel
<br />
<br />
<h2>Sign In</h2>
<br />
<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control w-25" />
        <span asp-validation-for="UserName" class="text-danger fw-bold"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" type="password" class="form-control w-25"/>
        <span asp-validation-for="Password" class="text-danger fw-bold"></span>        
    </div>
    <div asp-validation-summary="All" class="text-warning fw-bold"></div>
    <button type="submit" class="btn btn-primary">Sign In</button>
    <a asp-controller="User" asp-action="Index" class="btn btn-danger">Back</a>
</form>


@section Scripts {
@{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}

@section Styles {
    <style>
        body {
            background-image: url('/bg-images/lamp.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;           
        }

    </style>
}