/* Bu sınıf, sadece yetkilendirme (login/register) sayfalarının body'si için kullanılacak */
.auth-page-body {
    /* Buraya, seçtiğiniz "Wind Turbines" görselinin yolunu koyun */
    background-image: url('/bg-images/earth.jpg');
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw; /* Tam ekran genişliği */
    display: flex;
    justify-content: center; /* İçeriği yatayda ortala */
    align-items: center; /* İçeriği dikeyde ortala */
    margin: 0;
    padding: 0;
    /* Eğer navigasyon çubuğu (navbar) görünüyorsa, onu gizlemek için */
    overflow: hidden;
}

/* Şeffaf Kutunun Stili (Frosted Glass) */
.frosted-glass-container {
    background-color: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
    border: none;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.9);  /*Biraz daha belirgin gölge*/ 
    padding: 3.5rem;  /*Biraz daha boşluk */
    /* Yeterli genişlik vermezseniz bozulur */
    min-width: 350px;
}

    /* Metinlerin okunurluğunu artırın */
    .frosted-glass-container,
    .frosted-glass-container h2,
    .frosted-glass-container a {
        color: #ffffff !important;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }


@media (max-width: 768px) {
    .row > .col-md-6:first-child {
        display: none;
    }
}
.btn-primary {
    background-color: rgb(14, 57, 224) !important;
    border-color: rgb(14, 57, 224) !important;
    color: #fff;
}
    .btn-primary:hover {
        background-color: rgb(13, 60, 247) !important;
        border-color: rgb(13, 60, 247) !important;
        color: #fff;
    }
.btn-success {
    background-color: rgb(22, 22, 126) !important;
    border-color: rgb(22, 22, 126) !important;
    color: #fff;
}

    .btn-success:hover {
        background-color: rgb(6, 6, 156) !important;
        border-color: rgb(6, 6, 156) !important;
        color: #fff;
    }